<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
    <span class="sr-only">Toggle navigation</span>
  </button>
    <div class="navbar-brand" style="padding-top:5px;">
      <svg class="icon icon-logo" style=""><use xlink:href="__PUBLIC__/svg/symbol-defs.svg#icon-logo"></use></svg>
    </div>

</div>
<div class="collapse navbar-collapse" id="navbar-collapse-01">
  <ul class="nav navbar-nav">
    <li ><a href="#fakelink">医院信息</a></li>
      <li id="loginPage"><a  href="__ROOT__/Home-Login-Index">登陆注册</a></li>
    <li id="aptPage"><a  href="__ROOT__/Patient-Appointment-Index">预约挂号</a></li>
    <li id="myOrdersPage"><a  href="__ROOT__/Patient-MyOrders-Index">我的预约</a></li>
    <li id="mePage"><a  href="__ROOT__/Patient-Me-Index">个人中心</a></li>
  </ul>
  <form class="navbar-form navbar-right" action="#" role="search">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" id="navbarInput-01" type="search" placeholder="查找医生号源">
        <span class="input-group-btn">
          <button type="submit" class="btn"><span class="fui-search"></span></button>
        </span>
      </div>
    </div>
  </form><nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
      <div class="navbar-brand" style="padding-top:5px;">
        <svg class="icon icon-logo" style=""><use xlink:href="__PUBLIC__/svg/symbol-defs.svg#icon-logo"></use></svg>
      </div>

  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li ><a href="#fakelink">医院信息</a></li>
        <li id="loginPage"><a  href="__ROOT__/Home-Login-Index">登陆注册</a></li>
      <li id="aptPage"><a  href="__ROOT__/Patient-Appointment-Index">预约挂号</a></li>
      <li id="myOrdersPage"><a  href="__ROOT__/Patient-MyOrders-Index">我的预约</a></li>
      <li id="mePage"><a  href="__ROOT__/Patient-Me-Index">个人中心</a></li>
        <li id="HelpPage"><a  href="__ROOT__/Help-Menu">帮助中心</a></li>
    </ul>
    <form class="navbar-form navbar-right" action="#" role="search">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="navbarInput-01" type="search" placeholder="查找医生号源">
          <span class="input-group-btn">
            <button type="submit" class="btn"><span class="fui-search"></span></button>
          </span>
        </div>
      </div>
    </form>
  </div><!-- /.navbar-collapse -->
  </nav><!-- /navbar -->

</div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
