<script type="text/javascript">
$(function(){
    $("#mePage").addClass("active");
});

</script>
<div class="container-fluid">
  <div class="row-fluid">
<div  class="panel panel-default">
  <div  class="panel-heading">
    <b>个人信息</b>

  </div>
  <div  class="panel-body">
  </div>
  <ul class="list-group">
   <li class="list-group-item"><b>姓名:</b><span style="margin-left:10px;">{$name}</span></li>
   <li class="list-group-item"><b>性别:</b><span style="margin-left:10px;">{$gender}</span></li>
   <li class="list-group-item"><b>手机号码:</b><span style="margin-left:10px;">{$phone}</span></li>
   <li class="list-group-item"><b>身份证号:</b><span style="margin-left:10px;">{$id_card}</span></li>

  </ul>
  <div class="modal-footer">
        <a type="button"id="logout" href="__URL__-logOut" class="btn btn-danger btn-embossed">注销</a>
  </div>
</div>
</div>
</div>
