@charset "UTF-8";
@import url("./font.css");
@border-color:#CACACA;
@theme-color:#26BD9F;
@wet-asphalt:               #34495e;
@mytheme:                    #26BD9F;
@turquoise:                 #1abc9c;
@gray:                      #ecf0f1;
html, body {
	font-family:"Lato-Light";
    height: 100%;
    -webkit-tap-highlight-color: transparent;
		display:block;

}
* {
	margin: 0px;padding: 0px;
}
.font_weight_300{
  font-weight: 300;

}
.font_weight_400{
  font-weight: 400;

}
.font_weight_900{
  font-weight: 900;

}
.page_title {
	font-family:"Lato-Light";
	text-align: center;
	font-size: 34px;
	color:@theme-color;
  .font_weight_300;
	margin-top:15px;
	margin-bottom:15px;

}
.header{
   margin-top: 30px;
	 margin-bottom: 10px;

}
.content{
	margin-bottom: 40px;

	}
	div.panel_top{
  height: 40px;
  border-radius:20px 20px 0px 0px;
  border-top: 5px solid  @wet-asphalt;
  // width: 90%;
  background-color:@turquoise;
     .p_l{

      color: #fff;
      font-size: 18px;
      margin: 13px auto 13px 10%;
      max-width: 4em;
     }
     .p_r{
       color: #fff;
       font-size: 18px;
      //  margin: 13px 40px 13px auto;
      right:15%;
        max-width: 6em;
        position: absolute;
     }



}
div.panel_bottom{
  height: 40px;
  border-radius: 0px 0px 20px 20px;
  border-bottom: 5px solid  @wet-asphalt;
  // width: 90%;
  background-color:@turquoise;
	.p_l{

	 color: #fff;
	 font-size: 18px;
	 margin: 13px auto 13px 10%;
	 max-width: 4em;
	}
	.p_r{
		color: #fff;
		font-size: 18px;
	 //  margin: 13px 40px 13px auto;
	 right:15%;
		 max-width: 6em;
		 position: absolute;
	}


}
@img_w_h:72px;
div.panel_middle{
    // width: 90%;
    // height: 200px;
		padding:15px;
    background-color: @gray;
    img{
      width:@img_w_h;
      height:@img_w_h;
border:3px solid  @turquoise;
border-radius: @img_w_h;
   margin:0 auto 0 10px;

    }

}
div.panel_middle_section{
    // width: 90%;
    // height: 200px;
		border-top: 3px solid #ddd;
		padding:15px;
    background-color: @gray;
    img{
      width:@img_w_h;
      height:@img_w_h;
border:3px solid  @turquoise;
border-radius: @img_w_h;
   margin:0 auto 0 10px;

    }

}
div.panel{
  margin-top: 20px;

}

	.icon {
	display: inline-block;
	width: 56px;
	height: 56px;
	fill: currentColor;
}
svg{
	color: @theme-color;
}
