<head>
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/weui.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/banneralert.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-weui.css">
<meta >
<title>微信挂号平台</title>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script src="__PUBLIC__/JS/banneralert.min.js"></script>
<script src="__PUBLIC__/JS/jquery.validate.min.js"></script>
<script src="__PUBLIC__/JS/city-picker.js"></script>
<script src="__PUBLIC__/JS/jquery-weui.js"></script>

<script src="__PUBLIC__/JS/jquery.form.js"></script>
<script src="__PUBLIC__/JS/jquery.cookie.js"></script>
  <script src="__PUBLIC__/JS/main.js"></script>
</head>
