
<div class="btn-group btn-group-justified" style="margin-top:-30px;" >
              <a class="btn btn-primary" id="tab-left" href="#">当前预约</a>
              <a class="btn btn-default" href="#" id="tab-right">历史预约</a>
            </div>
<div class="container-fluid"style="min-height:420px;padding-top:50px;padding-bottom:30px;">

  <a title="" data-placement="top" data-toggle="tooltip" class="" type="button" data-original-title="点击预约编号查看详情"><span class="fui-info-circle" style="margin-left:10px;"></span></a>
<table class="table table-striped table-bordered" >
        <thead>
          <tr>
            <th>#</th>
            <th>日期</th>
            <th>号源类型</th>
            <th>科室</th>
            <th>挂号费</th>
          </tr>
        </thead>
        <tbody id="orders">
        </tbody>
      </table>
</div>
<script type="text/javascript">
$(function(){
   $('[data-toggle="tooltip"]').tooltip()
  getOrders(1);
  $("#tab-left").click(function(){

      getOrders(1);
      $(this).addClass("btn-primary");
      $("#tab-right").removeClass("btn-primary").addClass("btn-default");


  });
  $("#tab-right").click(function(){
    getOrders(0);
    $(this).addClass("btn-primary");
    $("#tab-left").removeClass("btn-primary").addClass("btn-default");

  });
});
function getOrders(time){

    if(time==1){
      //获取当前预约
      $("#orders").html("");
      $.getJSON("__URL__-getOrders",{time:1},function(json){
            if (json!=null){
              $.each(json,function(index,array){
                console.log(array);

            $("#orders").
            append("<tr data-id="+array['order_id']+" ></tr>");
            $("[data-id="+array['order_id']+"]")
            .append("<td><a>"+array['order_id']+"</a></td>")
            .append("<td>"+array['date']+"</td>")
            .append("<td>"+array['title']+"</td>")
            .append("<td>"+array['dpt']+"</td>")
            .append("<td>"+array['cost']+"￥</td>");

              });
            }
            });
    }else{
      //获取历史预约
      $("#orders").html("");
      $.getJSON("__URL__-getOrders",{time:0},function(json){
            if (json!=null){
              $.each(json,function(index,array){

                $("#orders").
                append("<tr data-id="+array['order_id']+" ></tr>");
                $("[data-id="+array['order_id']+"]")
                .append("<td><a>"+array['order_id']+"</a></td>")
                .append("<td>"+array['date']+"</td>")
                .append("<td>"+array['title']+"</td>")
                .append("<td>"+array['dpt']+"</td>")
                .append("<td>"+array['cost']+"￥</td>");
              });
            }
            });
         }

}
</script>
