
<div class="btn-group btn-group-justified">
              <a class="btn btn-primary" id="tab-left" href="#">当前预约</a>
              <a class="btn btn-default" href="#" id="tab-right">历史预约</a>
            </div>
<div class="container-fluid"style="min-height:420px;padding-top:50px;padding-bottom:30px;">
<table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>日期</th>
            <th>号源类型</th>
            <th>科室</th>
            <th>挂号费</th>
          </tr>
        </thead>
        <tbody id="orders">
        </tbody>
      </table>
</div>
<script type="text/javascript">
$(function(){

  $("#tab-left").click(function(){
  
      getOrders(1);
  });
  $("#tab-right").click(function(){
    getOrders(0);

  });
});
function getOrders(time){

    if(time==1){
      //获取当前预约
      $("#orders").html("");
      $.getJSON("__URL__-getOrders",{time:1},function(json){
            if (json!=null){
              $.each(json,function(index,array){
                console.log(array);

            $("#orders").
            append("<tr data-id="+array['order_id']+" ></tr>");
            $("[data-id="+array['order_id']+"]")
            .append("<td><a>"+array['order_id']+"</a></td>")
            .append("<td>"+array['date']+"</td>")
            .append("<td>"+array['title']+"</td>")
            .append("<td>"+array['dpt']+"</td>")
            .append("<td>"+array['cost']+"￥</td>");

              });
            }
            });
    }else{
      //获取历史预约
      $("#orders").html("");
      $.getJSON("__URL__-getOrders",{time:0},function(json){
            if (json!=null){
              $.each(json,function(index,array){

                $("#orders").
                append("<tr data-id="+array['order_id']+" ></tr>");
                $("[data-id="+array['order_id']+"]")
                .append("<td><a>"+array['order_id']+"</a></td>")
                .append("<td>"+array['date']+"</td>")
                .append("<td>"+array['title']+"</td>")
                .append("<td>"+array['dpt']+"</td>")
                .append("<td>"+array['cost']+"￥</td>");
              });
            }
            });
         }

}
</script>
